<h1>Your Notifications</h1>
<ul>
    {{ if gt .NotificationCount 0 }}
    {{ range .Notifications }}
    {{ if not .Read }}
    <li>
        <div class="shout-header">
            <img src="{{ .AuthorAvatar }}" alt="{{ .AuthorUsername }}'s avatar" class="avatar">
            <div class="shout-meta">
                <a href="/users/{{ .AuthorUsername }}">{{ .AuthorUsername }}</a>
                <small>{{ .CreatedAt | formatDate }}</small>
            </div>
        </div>
        <div class="shout-content">
            <a href="/global/shout/{{ .ShoutID }}" class="notif-link">📢 New Shout</a>
            <a href="/notifications/{{ .ID }}/read">
                Mark Read
            </a>
            <br><br>
            {{ .Message }}
        </div>
    </li>
    {{ end }}
    {{ end }}
    {{ else }}
    <li>
        <p>You have no notifications at this time.</p>
    </li>
    {{ end }}
</ul>
<br>
<a href="/">Back to Your Feed</a>